<div *ngIf="isIdea()" class="idea">
  <figure class="combined-icon">
    <div class="priority-container">
      <div *ngIf="type === 'entry'" class="dimension-label">
        Average
      </div>
      <div class="dimension-label">
        Priority
      </div>
      <div class="priority-stars">
        <ion-icon *ngFor="let _ of priorityStars; let y = index" class="priority-icon" name="sunny-outline">
        </ion-icon>
      </div>
      <div class="dimension-value">
        {{getPriorityDisplayValue()}}
      </div>
    </div>
    <div class="urgency-container">
      <div *ngIf="type === 'entry'" class="dimension-label">
        Average
      </div>
      <div class="dimension-label">
        Urgency
      </div>
      <img *ngIf="isVeryLowUrgency()" class="urgency-icon" src="assets/urgency/icons/low_urgency_orange.png">
      <ion-icon *ngIf="isLowUrgency()" class="urgency-icon" name="bicycle-outline"></ion-icon>
      <ion-icon *ngIf="isAverageUrgency()" class="urgency-icon" name="car-outline"></ion-icon>
      <ion-icon *ngIf="isHighUrgency()" class="urgency-icon" name="airplane-outline"></ion-icon>
      <ion-icon *ngIf="isVeryHighUrgency()" class="urgency-icon" name="rocket-outline"></ion-icon>
      <div class="dimension-value">
        {{getUrgencyDisplayValue()}}
      </div>
    </div>
  </figure>
</div>
<figure class="designation-container">
  <img *ngIf="isComment()" class="designation-icon" src="assets/reply_type/comments_active.png" />
  <img *ngIf="isExperience()" class="designation-icon" src="assets/reply_type/experiences_active.png">
  <img *ngIf="isQuestion()" class="designation-icon" src="assets/reply_type/questions_active.png" />
</figure>
<!--
  <div class="question-types" *ngIf="isAQuestion()">
    <div class="question-type" *ngFor="let questionType of reply.questionTypes">
      {{questionType}}
    </div>
  </div>

.designation-container {
    margin-top: 5px;
}

.designation-icon {
    width: 20px;
    margin-left: 3px;
}

.question-types {
    padding-top: 5px;
    width: 100%;
}
  
.question-type {
    font-size: 11px;
    padding: 3px;
    padding-left: 0px;
    padding-top: 0px;
    text-align: center;
}

-->