.combined-icon {
    margin: 0;
    width: 100%;
}

.priority-stars {
    text-align: center;
}

.priority-icon {
    display: inline-block;
    height: 11px;
    width: 11px;
}

.urgency-icon {
    height: 30px;
    width: 30px;
}

.dimension-label {
    font-size: 11px;
    text-align: center;
}

.dimension-value {
    font-size: 13px;
    text-align: center;
    }

    .designation-container {
        margin: 0;
        margin-top: 5px;
        width: 100%;
    }
    
    .designation-icon {
        width: 20px;
        margin-left: 3px;
        max-width: initial;
    }
    
    .question-types {
        padding-top: 5px;
        width: 100%;
    }
      
    .question-type {
        font-size: 11px;
        padding: 3px;
        padding-left: 0px;
        padding-top: 0px;
        text-align: center;
    }