<div *ngIf="isIdea()" class="idea">
  <div *ngIf="type === 'entry'" class="dimension-label">
    Average
  </div>
  <div class="dimension-label">
    Urgency
  </div>
  <div class="dimension-value">
    {{getUrgencyDisplayValue()}}
  </div>
  <figure class="idea {{type}} {{getPriorityClassName()}}">
    <img class="urgency-image {{getPriorityClassName()}}"
      src="assets/urgency/listing/{{getUrgencyImageName(false)}}.png">
  </figure>
  <div *ngIf="type === 'entry'" class="dimension-label">
    Average
  </div>
  <div class="dimension-label">
    Priority
  </div>
  <div class="dimension-value">
    {{getPriorityDisplayValue()}}
  </div>
</div>
<figure class="designation-container">
  <img *ngIf="isComment()" class="designation-icon" src="assets/reply_type/comments_active.png" />
  <img *ngIf="isExperience()" class="designation-icon" src="assets/reply_type/experiences_active.png">
  <img *ngIf="isQuestion()" class="designation-icon" src="assets/reply_type/questions_active.png" />
</figure>
<!--
  <div class="question-types" *ngIf="isAQuestion()">
    <div class="question-type" *ngFor="let questionType of reply.questionTypes">
      {{questionType}}
    </div>
  </div>
-->