@media only screen and (max-width: 320px) {

    ion-item {
      font-size: 13px;
    }
  
    img.situation-ranking {
      font-size: 12px;
    }
}
  
@media only screen and (min-width: 321px) and (max-width: 428px) {
  
    ion-item {
      font-size: 14px;
    }
  
    img.situation-ranking {
      font-size: 13px;
    }
}
  
ion-auto-complete {
  width: 100vw;
}
  
ion-item.situation {
      --inner-padding-end: 0px;
      --padding-start: 7px;
}
    
.situation-contents {
      width: 100%;
      margin-top: 5px;
}
    
    ion-row {
      margin-bottom: 7px;
      margin-left: 45px;
      width: 100%;
    }
    
    ion-item.situation tr {
      vertical-align: top;
    }
    
    .situation-main {
      margin-left: -5px;
      margin-right: -5px;
      width: 100%;
    }
    
    .situation-column {
      text-align: center;
    }
    
    .type-column {
      padding-left: 5px;
      width: 65px;
    }
    
    .situation-header {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    
    .situation-by {
      display: inline-block;
      font-weight: bold;
      margin-right: 5px;
    }
    
    .situation-age {
      color: gray;
      display: inline-block;
      font-size: 13px;
      padding-left: 5px;
    }
    
    .action-column {
      width: 40px;
    }
    
    .situation-type {
      margin-top: 5px;
      width: 30px;
    }
    
    .situation-action {
      cursor: pointer;
      margin-top: 5px;
    }
    
    .situation-ranking {
      font-size: 13px;
      display: inline-block;
    }
    
    .situation-in-thread {
      display: inline-block;
    }
    
    .situation-action {
      color: rgb(23, 191, 95);
    }
    
    a {
      text-decoration-line: none;
    }