<table class="situation-stats">
  <tr>
    <td class="situation-stats-icon ideas-icon">
      <app-idea-stats-icon></app-idea-stats-icon>
    </td>
    <td class="situation-stats-count num-ideas">
      {{getNumberAcronym(situationThread.counts.replies)}}
    </td>
    <td class="situation-stats-icon">
      <img src="assets/situation/experiences.png">
    </td>
    <td class="situation-stats-count num-experiences">
      {{getNumberAcronym(situationThread.counts.experiences)}}
    </td>
    <td class="situation-stats-icon">
      <img src="assets/situation/questions.png">
    </td>
    <td class="situation-stats-count num-questions">
      {{getNumberAcronym(situationThread.counts.questions)}}
    </td>
  </tr>
</table>