<table class="situation-stats">
  <tr>
    <td>
      <img src="assets/situation/questions.png">
    </td>
    <td class="situations-stats-count">
      {{getNumberAcronym(situation.numQuestions)}}
    </td>
    <td>
      <img src="assets/situation/testimonials.png">
    </td>
    <td class="situations-stats-count num-testimonials">
      {{getNumberAcronym(situation.numTestimonials)}}
    </td>
    <td>
      <img src="assets/situation/tasks.png">
    </td>
    <td class="situations-stats-count num-tasks">
      {{getNumberAcronym(situation.numTasks)}}
    </td>
  </tr>
</table>