<ion-row>
  <ion-col size="12">
    <ion-chip outline="true">
      <app-suggestion-stats-icon></app-suggestion-stats-icon>
      <ion-label>Suggestion</ion-label>
    </ion-chip>
    <ion-chip outline="true">
      <img class="testimonials-image" src="assets/situation/testimonials.png">
      <ion-label>Testimonial</ion-label>
    </ion-chip>
    <ion-chip outline="false">
      <img class="question-icon" src="assets/situation/questions.png">
      <ion-label>Question</ion-label>
    </ion-chip>
  </ion-col>
</ion-row>