<ion-menu contentId="page-content" menuId="tools" side="end" type="overlay">
  <ion-header>
    <ion-toolbar class="top-toolbar" color="secondary">
      <ion-title>Situation Tools</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-img class="top-menu-icon" src="assets/tools_menu/filter.png">
        </ion-img>
        &nbsp;&nbsp;
        <ion-input name="filterValue" [(ngModel)]="filterValue" (keypress)=onFilterKeyPress($event)
          placeholder="Type your filter here..."></ion-input>
      </ion-item>
    </ion-list>
    <ion-accordion-group>
      <ion-accordion value="Replies">
        <ion-item slot="header">
          <ion-img class="top-menu-icon" src="assets/tools_menu/replies.png">
          </ion-img>
          &nbsp;&nbsp;
          <ion-label>Replies</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-menu-toggle auto-hide="false" menu="tools">
            <ion-item (click)="goToAll()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;
              <ion-label>All</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" menu="tools">
            <ion-item (click)="goToQuestions()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ion-img class="child-menu-icon" src="assets/situation/questions.png"></ion-img>
              &nbsp;&nbsp;
              <ion-label>Questions</ion-label>
              <ion-img class="child-menu-icon add-icon" src="assets/tools_menu/add.png" (click)="addQuestion()"></ion-img>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" menu="tools">
            <ion-item (click)="goToExperiences()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ion-img class="child-menu-icon" src="assets/situation/experiences.png"></ion-img>
              &nbsp;&nbsp;
              <ion-label>Experiences</ion-label>
              <ion-img class="child-menu-icon add-icon" src="assets/tools_menu/add.png" (click)="addExperience()"></ion-img>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" menu="tools">
            <ion-item (click)="goToIdeas()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ion-img class="child-menu-icon" src="assets/idea/ideas.png"></ion-img>
              &nbsp;&nbsp;
              <ion-label>Ideas</ion-label>
              <ion-img class="child-menu-icon add-icon" src="assets/tools_menu/add.png" (click)="addIdea()"></ion-img>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" menu="tools">
            <ion-item (click)="goToComments()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ion-img class="child-menu-icon" src="assets/reply_type/comments.png"></ion-img>
              &nbsp;&nbsp;
              <ion-label>Comments</ion-label>
              <ion-img class="child-menu-icon add-icon" src="assets/tools_menu/add.png" (click)="addComment()"></ion-img>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-accordion>
      <ion-accordion value="Sort">
        <ion-item slot="header">
          <ion-img class="top-menu-icon" src="assets/tools_menu/sort.png">
          </ion-img>
          &nbsp;&nbsp;
          <ion-label>Sort</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-menu-toggle auto-hide="false" menu="tools">
            <ion-item (click)="sortChronologically()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ion-img class="child-menu-icon" src="assets/filter_by/chronological.png"></ion-img>
              &nbsp;&nbsp;
              <ion-label>Chronologically</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" menu="tools">
            <ion-item (click)="sortByUserRating()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ion-img class="child-menu-icon" src="assets/filter_by/user_rating.png"></ion-img>
              &nbsp;&nbsp;
              <ion-label>By User Rating</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" menu="tools">
            <ion-item (click)="sortByPostRanking()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ion-img class="child-menu-icon" src="assets/filter_by/post_ranking.png"></ion-img>
              &nbsp;&nbsp;
              <ion-label>By Post Ranking</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</ion-menu>