<div *ngIf="situationThread && situationThread.situation" class="situation-contents">
  <table class="situation-main-container">
    <tr class="situation-main">
      <td class="situation-column">
        <app-situation-icon [situation]="situationThread.situation" mode="show" type="listing">
        </app-situation-icon>
      </td>
      <td>
        <div class="situation-header">
          <div class="situation-by">{{situationThread.situation.createdBy.username}}</div>
          <div class="situation-age">{{ageOf(situationThread.situation.createdAt)}}</div>
          <ion-icon (click)="actionsClicked(situationThread.situation)" [id]="actionsTriggerElementId"
            class="situation-actions-button" name="ellipsis-vertical-outline">
          </ion-icon>
        </div>
        <div>
          {{situationThread.situation.text}}
        </div>
        <app-situation-labels [situation]="situationThread.situation"></app-situation-labels>
      </td>
    </tr>
  </table>
  <ion-row class="situation-footer">
    <ion-col size="7" class="situation-ranking">
      <app-situation-stats [situationThread]="situationThread"></app-situation-stats>
    </ion-col>
    <ion-col size="5" class="situation-in-thread">
      <div *ngIf="showMainAction()" class="situation-action">
        <a *ngIf="situationThread.counts.replies === 0" (click)="goToSituation()">View</a>
        <a *ngIf="situationThread.counts.replies > 0" (click)="goToSituation()">View
          ({{getNumberAcronym(situationThread.counts.replies)}})</a>
      </div>
    </ion-col>
  </ion-row>
</div>
<app-situation-matrix-modal *ngIf="showSituationMatrix()" [situation]="situationThread.situation"
  (onDone)="situationMatrixClosed()">
</app-situation-matrix-modal>