.task-header {
    width: 100%;
    margin: 5px;
    margin-top: 15px;
  }
  
  .task-by {
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .task-age {
    color: gray;
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
  }
  
  .task-summary {
    font-size: 20px;
    font-weight: 430;
    margin: 5px;
  }
  
  .task-description {
    margin: 5px;
  }
  