<app-tools-menu
(onFilterChange)="filter($event)"
></app-tools-menu>

<app-page-header></app-page-header>

<ion-content id="page-content">
  <div class="task-header">
    <div class="task-by">
      {{task.createdBy}}
    </div>
    <div class="task-age">
      {{ageOf(task.createdAt)}}
    </div>
  </div>
  <div class="task-summary">
    {{task.summary}}
  </div>

  <app-task-stats [task]="task"></app-task-stats>
  <div class="task-description">
    {{task.description}}
  </div>
  <app-reply-listing [replies]="replies"></app-reply-listing>
</ion-content>