<app-tools-menu (onFilterChange)="filter($event)" [parent]="situation"></app-tools-menu>
<app-page-header title="Situation Thread" [showToolsIcon]="true"></app-page-header>
<app-popover (onDismiss)="onActionsClose()" [isOpen]="showSituationActions || showReplyActions"
  triggerElementId="reply-actions-button">
  <app-situation-actions *ngIf="showSituationActions" (onSelection)="onSituationAction($event)" [situation]="situation">
  </app-situation-actions>
  <app-reply-actions *ngIf="showReplyActions" (onSelection)="onReplyAction($event)" [reply]="activeReply">
  </app-reply-actions>
</app-popover>
<ion-content id="page-content">
  <app-situation-block (onActionsClick)="onShowSituationActions()" [action]="getSituationAction()"
    [situation]="situation" actionsTriggerElementId="reply-actions-button">
  </app-situation-block>
  <app-reply-listing (onActionsClick)="onShowReplyActions($event)" [activeActionsReplyId]="getActiveActionsReplyId()"
    [action]="replyAction" [parent]="situation" actionsTriggerElementId="reply-actions-button" [replies]="replies">
  </app-reply-listing>
</ion-content>