.priority.very-high {
    border-style: dotted;
    height: 17px;
    width: 17px;
}

.priority {
    border-color: #17bf5f;
    border-style: none;
    margin: auto;
    position: relative;
    border-radius: 10px;
    border-width: 2px;
    height: calc(100% - 1px);
    top: 0.65px;
    width: calc(100% - 1px);
}

.high {
    max-height: 14px;
    max-width: 14px;
    border-style: dotted;
}

.average {
    border-style: dashed;
    max-height: 11px;
    max-width: 11px;
}

.low {
    border-style: double;
    max-height: 8px;
    max-width: 8px;
}

.very-low {
    border-style: solid;
    max-height: 5px;
    max-width: 5px;
}


img {
    height: 17px;
    width: 17px;
}