<figure class="combined-icon">
  <div class="importance-container">
    <div *ngIf="type === 'entry'" class="dimension-label">
      Average
    </div>
    <div class="dimension-label">
      Importance
    </div>
    <div class="priority-points">
      <img *ngFor="let _ of importancePoints; let y = index" class="priority-icon"
        src="assets/importance/rating/importance_rating_full_point.png">
      <img *ngIf="halfImportancePoint" class="priority-icon"
        src="assets/importance/rating/importance_rating_half_point.png">
    </div>
  </div>
  <div class="urgency-container">
    <div *ngIf="type === 'entry'" class="dimension-label">
      Average
    </div>
    <div class="dimension-label">
      Urgency
    </div>
    <div class="urgency-points">
      <img *ngFor="let _ of urgencyPoints; let y = index" class="priority-icon"
        src="assets/urgency/rating/urgency_rating_full_point.png">
      <img *ngIf="halfUrgencyPoint" class="urgency-icon" src="assets/urgency/rating/urgency_rating_half_point.png">
    </div>
  </div>
</figure>