.combined-icon {
    margin: 0;
    width: 100%;
}

.priority-stars {
    text-align: center;
}

.priority-icon {
    display: inline-block;
    height: 11px;
    width: 11px;
}

.urgency-icon {
    height: 30px;
    width: 30px;
}

.dimension-label {
    font-size: 11px;
    text-align: center;
}

.dimension-value {
    font-size: 13px;
    text-align: center;
    }
