<table>
  <tr>
    <td class="situation-icon">
      <app-situation-icon mode="edit" [situation]="situation" [type]="type"></app-situation-icon>
    </td>
    <td>
      <div>Urgency</div>
      <ion-range [(ngModel)]="situation.eisenhowerMatrix.user.urgency" min="1" max="5" step="1" name="urgency"
        snaps="true">
        <ion-label slot="start">Low</ion-label>
        <ion-label slot="end">High</ion-label>
      </ion-range>
      <div>Importance</div>
      <ion-range [(ngModel)]="situation.eisenhowerMatrix.user.importance" min="1" max="5" step="1" name="importance"
        snaps="true">
        <ion-label slot="start">Low</ion-label>
        <ion-label slot="end">High</ion-label>
      </ion-range>
    </td>
  </tr>
</table>
<app-situation-auto-complete (onLabelSelected)="onLabelSelected($event)" [labelRemoved]="labelRemoved" [type]="type"
  [situation]="situation" placeholder="Search for Labels">
</app-situation-auto-complete>
<app-situation-labels (onLabelRemoved)="onLabelRemoved($event)" [editMode]="true" [labelSelected]="labelSelected"
  [situation]="situation">
</app-situation-labels>