@media only screen and (max-width: 320px) {
    
    div.filter-label {
        font-size: 12px;
        line-height: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }
   
    ion-col ion-chip {
        font-size: 12px;
        line-height: 12px;
        margin: 1px;
        padding: 3px 7px;
    }

    ion-col img {
        height: 18px;
        width: 18px;
    }

}
  
@media only screen and (min-width: 321px) and (max-width: 428px) {

    div.filter-label {
        font-size: 13px;
        line-height: 13px;
        padding-left: 10px;
        padding-right: 2px;
    }

    ion-col ion-chip {
        padding: 5px 9px;
        font-size: 13px;
        line-height: 13px;
    }

    ion-col img.question-icon {
        height: 18px;
        width: 18px;
    }

  
}

.filter-label {
    display: inline-block;
    padding-left: 15px;
    padding-right: 8px;
}

ion-col.listing {
    padding-left: 0px;
}

ion-chip.selected {
    background-color: rgb(255, 128, 0);
    border: 0px;
    color: white;
}

ion-col {
    text-align: center;
}

img {
    height: 20px;
    width: 20px;
}

ion-label {
    padding-left: 3px;
}

ion-chip {
    font-size: 14px;
    line-height: 14px;
}