<ion-list>
  <ion-item *ngIf="canDesignate()" (click)="onDesignate()" button [detail]="false">
    Designate
  </ion-item>
  <ion-item *ngIf="isIdea()" (click)="onReasonAbout()" button [detail]="false">
    Reason About
  </ion-item>
  <ion-item *ngIf="isIdea()" button [detail]="false" [disabled]="true">
    Add as Task
  </ion-item>
  <ion-item button [detail]="false" [disabled]="true">
    Edit
  </ion-item>
  <ion-item button [detail]="false" [disabled]="true">
    History
  </ion-item>
</ion-list>