@media only screen and (max-width: 320px) {
   
    ion-col ion-chip {
        font-size: 12px;
        line-height: 12px;
        margin: 1px;
        padding: 3px 7px;
    }

}
  
@media only screen and (min-width: 321px) and (max-width: 428px) {

    ion-col ion-chip {
        font-size: 13px;;
        line-height: 13px;
        padding: 5px 9px;
    }
  
}

app-reply-type-labels {
    display: block;
    margin-top: 10px;
}

table {
  width: 100%;
}

.idea-icon {
    padding-left: 5px;
    width: 62px;
}

.idea-controls, .experience-controls, .question-controls {
    margin-top: 10px;
}

ion-chip.selected {
    background-color: rgb(255, 128, 0);
    border: 0px;
    color: white;
}

ion-col {
    text-align: center;
}

ion-chip {
    font-size: 14px;
    line-height: 14px;
    margin: 2px;
    padding: 6px 10px;
}

div {
    width: 100%;
    text-align: center;
}

ion-range {
    padding-top: 0px;
    width: 100%;
}

.comment-label {
    margin-left: -32px;
}

ion-img {
    float: right;
    height: 25px;
    width: 25px;
}

.record-description {
    text-align: left;
}

.record-description ion-label{
    display: inline-block;
    height: 25px;
    margin-top: 3px;
}

ion-range {
    --knob-size: 35px;
}