<app-reply-type-labels (onSelection)="setDesignations($event)" [parent]="parent" [reply]="reply" [type]="type">
</app-reply-type-labels>
<table>
  <tr>
    <td class="idea-icon">
      <app-reply-icon mode="edit" [reply]="reply" [type]="type">
      </app-reply-icon>
    </td>
    <td class="controls">
      <div class="idea-controls" *ngIf="isIdea()">
        <div>Urgency</div>
        <ion-range [(ngModel)]="reply.eisenhowerMatrix.user.urgency" min="1" max="5" step="1" name="urgency"
          snaps="true">
          <ion-label slot="start">Low</ion-label>
          <ion-label slot="end">High</ion-label>
        </ion-range>
        <div>Priority</div>
        <ion-range [(ngModel)]="reply.eisenhowerMatrix.user.priority" min="1" max="5" step="1" name="priority"
          snaps="true">
          <ion-label slot="start">Low</ion-label>
          <ion-label slot="end">High</ion-label>
        </ion-range>
      </div>
      <div class="experience-controls" *ngIf="isExperience()">
        <ion-row>
          <ion-col offset="2" size="2">
            <ion-img src="assets/icon/record-audio.png"></ion-img>
          </ion-col>
          <ion-col class="record-description" size="3">
            <ion-label>Speak</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-img src="assets/icon/record-video.png"></ion-img>
          </ion-col>
          <ion-col class="record-description" size="3">
            <ion-label>Show</ion-label>
          </ion-col>
        </ion-row>
      </div>
      <div class="question-controls" *ngIf="isQuestion()">
        <ion-chip *ngFor="let questionType of getQuestionTypes()"
          [ngClass]="{'selected': hasQuestionType(questionType)}" (click)="onQuestionTypeClick(questionType)"
          [outline]="!hasQuestionType(questionType)">
          <div>{{questionType}}?</div>
        </ion-chip>
      </div>
      <div class="comment-label" *ngIf="isComment()">
        A general comment
      </div>
    </td>
  </tr>
</table>