<table class="situation-stats">
  <tr>
    <td class="situation-stats-icon suggestions-icon">
      <app-suggestion-stats-icon></app-suggestion-stats-icon>
    </td>
    <td class="situation-stats-count num-suggestions">
      {{getNumberAcronym(situation.numReplies)}}
    </td>
    <td class="situation-stats-icon">
      <img src="assets/situation/testimonials.png">
    </td>
    <td class="situation-stats-count num-testimonials">
      {{getNumberAcronym(situation.numTestimonials)}}
    </td>
    <td class="situation-stats-icon">
      <img src="assets/situation/questions.png">
    </td>
    <td class="situation-stats-count num-questions">
      {{getNumberAcronym(situation.numQuestions)}}
    </td>
  </tr>
</table>