<table class="suggestion-stats">
  <tr>
    <td class="suggestion-stats-icon">
      <img src="assets/suggestion/assent.png">
    </td>
    <td class="suggestion-stats-count accent-percentage">
      {{accentPercentage(suggestion.votes.totalPoints, suggestion.votes.users)}}%
    </td>
    <td class="suggestion-stats-icon">
      <img src="assets/suggestion/reasons.png">
    </td>
    <td class="suggestion-stats-count">
      {{getNumberAcronym(suggestion.numReasons)}}
    </td>
    <td class="suggestion-stats-icon">
      <img src="assets/suggestion/subsuggestions.png">
    </td>
    <td class="suggestion-stats-count num-subsuggestions">
      {{getNumberAcronym(suggestion.numReplies)}}
    </td>
  </tr>
</table>