@media only screen and (max-width: 320px) {  
    ion-img {
        height: 35px;
    }
}
  
@media only screen and (min-width: 321px) and (max-width: 428px) {  
    ion-img {
        height: 38px;
    }
}  

ion-img {
    height: 42px;
}

.record-description ion-label{
    display: inline-block;
    height: 25px;
    margin-top: 10px;
}

ion-range {
    --knob-size: 40px;
}
