<ion-row>
  <ion-col size="12">
    <div>
      Sort By
    </div>
    <ion-radio-group value="sortOrder">
      <ion-radio (click)="sortBy('time')" value="time"></ion-radio>
      <ion-label (click)="sortBy('time')">Time</ion-label>
      <ion-radio (click)="sortBy('postRating')" value="postRating"></ion-radio>
      <ion-label (click)="sortBy('postRating')">Post Rating</ion-label>
      <ion-radio (click)="sortBy('userRanking')" value="userRanking"></ion-radio>
      <ion-label (click)="sortBy('userRanking')">User Ranking</ion-label>
    </ion-radio-group>
  </ion-col>
</ion-row>