.reply-header {
    width: 100%;
    margin: 5px;
    margin-top: 15px;
  }
  
  .reply-by {
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .reply-age {
    color: gray;
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
  }
  
  .reply-summary {
    font-size: 20px;
    font-weight: 430;
    margin: 5px;
  }
  
  .reply-description {
    margin: 5px;
  }
  