<app-tools-menu (onFilterChange)="filter($event)"></app-tools-menu>
<app-page-header title="Reply Thread" [showToolsIcon]="true"></app-page-header>
<app-popover (onDismiss)="onActionsClose()" [isOpen]="showReplyActions" triggerElementId="reply-actions-button">
  <app-reply-actions *ngIf="showReplyActions" (onSelection)="onReplyAction($event)" [reply]="activeReply">
  </app-reply-actions>
</app-popover>
<ion-content id="page-content">
  <app-reply-block (onActionsClick)="onShowReplyActions(reply)" [action]="getReplyAction()" [reply]="reply"
    actionsTriggerElementId="reply-actions-button"></app-reply-block>
    <app-idea-reasons></app-idea-reasons>

  <app-reply-listing (onActionsClick)="onShowReplyActions($event)" [activeActionsReplyId]="getActiveActionsReplyId()"
    [action]="replyAction" [replies]="replies" actionsTriggerElementId="reply-actions-button"></app-reply-listing>
</ion-content>
<app-reply-entry-bar></app-reply-entry-bar>