<ion-menu contentId="situation-content" menuId="situation" side="end" type="overlay">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Situation Tools</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-img class="top-menu-icon" src="assets/situation_menu/filter.png">
        </ion-img>
        &nbsp;&nbsp;
        <ion-input name="filterValue" [(ngModel)]="filterValue" (keypress)=onFilterKeyPress($event)
          placeholder="Type your filter here..."></ion-input>
      </ion-item>
    </ion-list>
    <ion-accordion-group>
      <ion-accordion value="Replies">
        <ion-item slot="header">
          <ion-img class="top-menu-icon" src="assets/situation_menu/replies.png">
          </ion-img>
          &nbsp;&nbsp;
          <ion-label>Replies</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-menu-toggle auto-hide="false" menu="situation">
            <ion-item (click)="goToQuestions()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ion-img class="child-menu-icon" src="assets/reply_type/questions.png"></ion-img>
              &nbsp;&nbsp;
              <ion-label>Questions</ion-label>
              <ion-img class="child-menu-icon" src="assets/situation_menu/add.png" (click)="addQuestion()"></ion-img>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" menu="situation">
            <ion-item (click)="goToTestimonials()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ion-img class="child-menu-icon" src="assets/reply_type/testimonials.png"></ion-img>
              &nbsp;&nbsp;
              <ion-label>Testimonials</ion-label>
              <ion-img class="child-menu-icon" src="assets/situation_menu/add.png" (click)="addTestimonial()"></ion-img>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" menu="situation">
            <ion-item (click)="goToComments()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ion-img class="child-menu-icon" src="assets/reply_type/comments.png"></ion-img>
              &nbsp;&nbsp;
              <ion-label>Comments</ion-label>
              <ion-img class="child-menu-icon" src="assets/situation_menu/add.png" (click)="addComment()"></ion-img>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" menu="situation">
            <ion-item (click)="goToTasks()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ion-img class="child-menu-icon" src="assets/reply_type/tasks.png"></ion-img>
              &nbsp;&nbsp;
              <ion-label>Tasks</ion-label>
              <ion-img class="child-menu-icon" src="assets/situation_menu/add.png" (click)="addTask()"></ion-img>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" menu="situation">
            <ion-item (click)="goToRelatedSituations()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ion-img class="child-menu-icon" src="assets/reply_type/situation.png"></ion-img>
              &nbsp;&nbsp;
              <ion-label>Related Situations</ion-label>
              <ion-img class="child-menu-icon" src="assets/situation_menu/add.png" (click)="addRelatedSituation()">
              </ion-img>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" menu="situation">
            <ion-item (click)="goToAll()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ion-img class="child-menu-icon" src="assets/situation_menu/all.png"></ion-img>
              &nbsp;&nbsp;
              <ion-label>All</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-accordion>
      <ion-accordion value="Sort">
        <ion-item slot="header">
          <ion-img class="top-menu-icon" src="assets/situation_menu/sort.png">
          </ion-img>
          &nbsp;&nbsp;
          <ion-label>Sort</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-menu-toggle auto-hide="false" menu="situation">
            <ion-item (click)="sortChronologically()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ion-img class="child-menu-icon" src="assets/filter_by/chronological.png"></ion-img>
              &nbsp;&nbsp;
              <ion-label>Chronologically</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" menu="situation">
            <ion-item (click)="sortByUserRating()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ion-img class="child-menu-icon" src="assets/filter_by/user_rating.png"></ion-img>
              &nbsp;&nbsp;
              <ion-label>By User Rating</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" menu="situation">
            <ion-item (click)="sortByPostRanking()">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ion-img class="child-menu-icon" src="assets/filter_by/post_ranking.png"></ion-img>
              &nbsp;&nbsp;
              <ion-label>By Post Ranking</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Situation: ABC...</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="situation">
        <ion-icon name="hammer-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="situation-content">
  <div class="situation-header">
    <div class="situation-by">
      {{situation.createdBy}}
    </div>
    <div class="situation-age">
      {{ageOf(situation.createdAt)}}
    </div>
  </div>
  <div class="situation-summary">
    {{situation.summary}}
  </div>

  <app-situation-stats [situation]="situation"></app-situation-stats>
  <!--
  <div class="stats">
    {{situation.createdBy}}
  </div>
  <div class="stats">
    {{situation.views.total}} views &nbsp; &#x2022; &nbsp;
    by {{situation.views.users}} users &nbsp; &#x2022; &nbsp;
    {{ageOf(situation.createdAt)}}
  </div>
  -->
  <div class="situation-description">
    {{situation.description}}
  </div>
  <ion-list>
    <ion-item class="reply" *ngFor="let reply of replies; trackBy: trackByReplies">
      <div class="reply-contents">
        <table class="reply-main">
          <tr>
            <td class="reply-column type-column">
              <img *ngIf="reply.type === 'comment'" class="reply-type" src="assets/reply_type/comments.png" />
              <img *ngIf="reply.type === 'question'" class="reply-type" src="assets/reply_type/questions.png" />
              <img *ngIf="reply.type === 'testimonial'" class="reply-type" src="assets/reply_type/testimonials.png" />
              <img *ngIf="reply.type === 'task'" class="reply-type" src="assets/reply_type/tasks.png" />
              <img *ngIf="reply.type === 'situation'" class="reply-type" src="assets/reply_type/situation.png" />
            </td>
            <td>
              <div class="reply-header">
                <div class="reply-by">{{reply.createdBy}}</div>
                <div class="reply-age">{{ageOf(reply.createdAt)}}</div>
              </div>
              {{reply.text}}
            </td>
          </tr>
        </table>
        <ion-row>
          <ion-col size="8" *ngIf="reply.type === 'comment' || reply.type==='question' || reply.type === 'testimonial'"
            class="reply-ranking">
            <table class="reply-up-down-ranking">
              <tr>
                <td class="reply-rank-up">
                  <img *ngIf="reply.ranking.user === 1" (click)="unrankUp(reply)" class="reply-rank"
                    src="assets/rank/ranked_up.png">
                  <img *ngIf="reply.ranking.user < 1" (click)="rankUp(reply)" class="reply-rank"
                    src="assets/rank/rank_up.png">
                </td>
                <td class="reply-count-up">
                  {{getNumberAcronym(reply.ranking.up)}}
                </td>
                <td class="reply-rank-down">
                  <img *ngIf="reply.ranking.user > -1" (click)="rankDown(reply)" class="reply-rank"
                    src="assets/rank/rank_down.png">
                  <img *ngIf="reply.ranking.user === -1" (click)="unrankDown(reply)" class="reply-rank"
                    src="assets/rank/ranked_down.png">
                </td>
              </tr>
            </table>
          </ion-col>

          <ion-col size="8" *ngIf="reply.type ==='task'" class="reply-ranking">
            <table class="task-stats">
              <tr>
                <td>
                  <img class="task-stats-icon" src="assets/task/reasons.png">
                </td>
                <td class="task-stats-count">
                  {{getNumberAcronym(reply.numReasons)}}
                </td>
                <td>
                  <img class="task-stats-icon" src="assets/task/assent.png">
                </td>
                <td class="task-stats-count">
                  {{votePercentage(reply.votes.totalPoints, reply.votes.users)}}%
                </td>
              </tr>
            </table>
          </ion-col>
          <ion-col size="8" *ngIf="reply.type ==='situation'" class="reply-ranking">
            <app-situation-stats [situation]="reply"></app-situation-stats>
          </ion-col>
          <ion-col size="4" class="reply-in-thread">
            <div *ngIf="reply.type === 'task'
            || reply.type === 'situation'" class="reply-action">
              <a *ngIf="reply.numReplies === 0" href="#">View</a>
              <a *ngIf="reply.numReplies > 0" href="#">View ({{getNumberAcronym(reply.numReplies)}})</a>
            </div>
            <div *ngIf="reply.type === 'comment'
            || reply.type === 'testimonial'" class="reply-action">
              <div class="reply-action" *ngIf="reply.numReplies === 0" (click)="addReply(reply)">Reply</div>
              <a *ngIf="reply.numReplies === 1" href="#">1 reply</a>
              <a *ngIf="reply.numReplies > 1" href="#">{{getNumberAcronym(reply.numReplies)}} replies</a>
            </div>
            <div *ngIf="reply.type === 'question'" class="reply-action">
              <div *ngIf="reply.numReplies === 0" (click)="addAnswer(reply)">Answer</div>
              <a *ngIf="reply.numReplies === 1" href="#">1 answer</a>
              <a *ngIf="reply.numReplies > 1" href="#">{{getNumberAcronym(reply.numReplies)}} answers</a>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
  </ion-list>
</ion-content>