.task-stats {
    color: gray;
    font-size: 13px;
    margin: 5px;
    padding: 3px;
  }
  
img {
    display: inline-block;
    width: 18px;
  }
  
.task-stats-count {
    display: inline-block;
    padding-left: 8px;
    vertical-align: sub;
    width: 60px;
  }
  
.accent-percentage {
    padding-left: 8px;
    width: 62px;
  }
  
.num-subtasks {
    padding-left: 8px;
    width: 60px;
}