<ion-modal [isOpen]="visible">
  <ng-template>
    <ion-content>
      <app-situation-matrix [situation]="situation" type="entry">
      </app-situation-matrix>
    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="primary">
          <ion-button (click)="cancel()" color="primary">Cancel</ion-button>
          <ion-button (click)="updateSituation()" color="secondary">Save</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>