@media only screen and (max-width: 320px) {
  .top-toolbar {
      --min-height: 40px !important;
  }

  .top-toolbar .title {
    font-size: 17px;
  }

  .top-toolbar .sub-title {
    font-size: 13px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 428px) {
  .top-toolbar {
    --min-height: 44px !important;
  }

  .top-toolbar .title {
    font-size: 18px;
  }

  .top-toolbar .sub-title {
    font-size: 14px;
  }
}

.title {
  padding-left: 22px;
  font-size: 19px;
}

.sub-title {
    padding-left: 20px;
    font-size: 15px;
}

.theme-image {
  height: 30px;
  margin-right: 5px;
  width: 30px;
}

.more-themes-icon {
  height: 25px;
  margin-left: 2px;
  margin-right: 15px;
  width: 25px;
}

.topic-item {

}

.topic-icon {
  height: 30px;
  margin-left: 12px;
  margin-right: 10px;
  width: 30px;
}

.no-icon {
  margin-left: 15px;
}

.topic-favorite {
  height: 15px;
  width: 15px;
}

.more-topics-icon {
  height: 25px;
  margin-left: 14px;
  margin-right: 13px;
  width: 25px;
}

.more-themes-icon {
  height: 25px;
  margin-left: 2px;
  margin-right: 15px;
  width: 25px;
}