<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-accordion-group>
          <ion-accordion value="{{metaCategory.title}}" *ngFor="let metaCategory of metaCategories; let i = index">
            <ion-item slot="header" class="{{metaCategory.image}}">
              <ion-img class="menu-image" src="assets/menu/{{metaCategory.image}}.png"></ion-img>
              <ion-label>{{ metaCategory.title }}</ion-label>
            </ion-item>

            <ion-list slot="content">

              <ion-menu-toggle auto-hide="false">
                <ion-item *ngFor="let category of metaCategory.categories; let y = index">
                  <ion-label>{{ category }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>