@media only screen and (max-width: 320px) {
    div.reason-starting-words {
        font-size: 12px;
    }
}
  
@media only screen and (min-width: 321px) and (max-width: 428px) {
    div.reason-starting-words {
        font-size: 13px;
    }
    ion-select.reason-option {
        font-size: 14px;
    }
    
    ion-textarea.reason-text {
        font-size: 14px;
    }
}

.reasons-header {
    margin-top: 10px;
    font-size: 14px;
    padding-left: 10px;
    width: 100%;
}

.assent-info {
    width: 70%;
}

img {
    display: block;
    height: 25px;
    width: 25px;
}

.assent-image {
    display: inline-block;
    margin-left: 1px;
}

.assent-description {
    display: inline-block;
    padding-left: 13px;
    padding-top: 5px;
    vertical-align: top;
}

.add-container {
    width: 30%;
}

.add-icon {
    float: right;
    height: 25px;
    margin-right: 10px;
    width: 25px;
}

.reason-starting-words:first-of-type {
    margin-left: 15px;
}

.reason-starting-words {
    margin-top: 12px;
    font-size: 14px;
}

.reason-option {
    padding-left: 0px;
    font-size: 14px;
}

.reason-text {
    font-size: 14px;
}

.add-reason-button {
    float: right;
}

ion-item {
    font-size: 14px;
    line-height: 14px;
}

ion-item.row2 {
    border-bottom: 2px solid gray;
}

ion-toggle {
    margin-left: -10px;
    padding-right: 10px;
}

.toggle-spacer {
    width: 6px;
}

.reason-contents {
    padding-bottom: 5px;
    padding-top: 5px;
}

ion-reorder {
    margin-left: 5px;
    margin-right: -5px;
}