<ion-modal [isOpen]="visible">
  <ng-template>
    <ion-content>
      <app-situation-topic-select [situation]="situation"></app-situation-topic-select>
      <app-media-recorder></app-media-recorder>
      <app-situation-matrix [situation]="situation" type="post"></app-situation-matrix>
      <quill-editor [(ngModel)]="situation.text" [modules]="quillModules" [sanitize]="true"></quill-editor>
    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="primary">
          <ion-button (click)="cancel()" color="primary">Cancel</ion-button>
          <ion-button (click)="enterSituation()" color="secondary">Post</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>