<app-page-header title="About Sapoto.net">
</app-page-header>
<ion-content>
  <ion-content fullscreen>
    <ion-card>
      <img src="/resources/icon.png" />
      <ion-card-header>
        <ion-card-subtitle>About</ion-card-subtitle>
        <ion-card-title>Sapoto</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 2022 Sapoto is a support network meant to be used by people to help each other.

        <br>
        <br>
        Sapoto stands for "support" in Japanese. Sapoto icon is two hands put together.
        <br>
        <br>
        <i>Sapo also means "toad" in Spanish.
          And it so happens that Sapoto aims to
          leapfrog society to a better state of being,
          where it's easier to help each other.</i>

        and
      </ion-card-content>
    </ion-card>
  </ion-content>