<app-reply-type-labels (onSelection)="setReplyTypeFilters($event)" [parent]="parent" [type]="'filter'"></app-reply-type-labels>
<app-reply-sort-order (onSelection)="sortBy($event)"></app-reply-sort-order>
<ion-list>
  <ion-item class="reply" *ngFor="let reply of filteredReplies; trackBy: trackByReplies">
    <app-reply-block (onActionsClick)="setDesignatedReply(reply)" [action]="getReplyAction(reply)"
      [actionsTriggerElementId]="actionsTriggerElementId" [reply]="reply" type="listing"></app-reply-block>
  </ion-item>
</ion-list>