<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" menuId="main" type="overlay">
      <ion-header>
        <ion-toolbar class="top-toolbar" color="secondary">
          <div class="title">sapoto.net</div>
          <div class="sub-title">
            Support Network
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-accordion-group>
          <ion-accordion value="{{theme.name}}" *ngFor="let theme of themes; let i = index">
            <ion-item slot="header">
              <span>
                <img class="theme-image" src="assets/menu/simple/{{theme.imageName}}.png  ">
                <!--
                <ion-avatar class="menu-image">
                  <img src="assets/menu/{{theme.image}}.png">
                </ion-avatar>
                -->
              </span>
              <ion-label>{{theme.name}}</ion-label>
            </ion-item>

            <ion-list slot="content">
              <ion-menu-toggle auto-hide="false">
                <ion-item class="topic-item" (click)="goToTopicListing(topic)"
                  *ngFor="let topic of theme.topics; let y = index">
                  <ion-img class="topic-icon" *ngIf="topic.imagePath" src="assets/{{topic.imagePath}}"></ion-img>
                  <ion-label [ngClass]="{'no-icon': !topic.imagePath}">{{ topic.name }}</ion-label>
                  <ion-img *ngIf="false" class="topic-favorite" src="assets/menu/favorite_selected.png">
                  </ion-img>
                </ion-item>
                <ion-item [routerLink]="['topics']">
                  <ion-img class="more-topics-icon" src="assets/menu/discover.png"></ion-img>
                  <ion-label>More Topics</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['topics']">
            <ion-img class="more-themes-icon" src="assets/menu/discover.png"></ion-img>
            <ion-label>More Themes</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
<app-add-topic *ngIf="isAddingATopic()" (onDone)="doneAddingATopic()"></app-add-topic>