@media only screen and (max-width: 320px) {  
    ion-img {
        height: 35px;
    }
}
  
@media only screen and (min-width: 321px) and (max-width: 428px) {  
    ion-img {
        height: 38px;
    }
}  

ion-img {
    height: 42px;
}

.record-description ion-label{
    display: inline-block;
    height: 25px;
    margin-top: 10px;
}

ion-range {
    --knob-size: 40px;
}

.very-low-priority {
    height: 40px;
    width: 40px;
}
.low-priority {
    height: 45px;
    width: 45px;
}
.average-priority {
    height: 50px;
    width: 50px;
}
.high-priority {
    height: 55px;
    width: 55px;
}
.very-high-priority {
    height: 60px;
    width: 60px;
}

.very-low-urgency {
    background-color: blue;
}
.low-urgency {
    background-color: green;
}
.average-urgency {
    background-color: yellow;
}
.high-urgency {
    background-color: orange;
}
.very-high-urgency {
    background-color: red;
}

.task-figure-container {
    height: 60px;
    position: relative;
}

figure {
    background-color: gray;
    border: 4px solid #17bf5f;
    border-radius: 30px;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}