@media only screen and (max-width: 320px) {

  div.situation-by {
    margin-right: 3px;
    font-size: 13px;
  }
  
  div.situation-age {
    font-size: 11px;
    margin-left: 3px;
  }

  div.situation-summary {
    font-size: 16px;
    margin: 2px;
  }

  .situation-description {
    font-size: 13px;
  }

}

@media only screen and (min-width: 321px) and (max-width: 428px) {

  div.situation-by {
    margin-right: 4px;
    font-size: 14px;
  }
  
  div.situation-age {
    font-size: 12px;
    margin-left: 4px;
  }

  div.situation-summary {
    font-size: 18px;
    margin: 4px;
  }

  .situation-description {
    font-size: 14px;
  }

}


.situation-header {
  width: 100%;
  margin: 5px;
  margin-top: 15px;
}

.situation-by {
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
}

.situation-age {
  color: gray;
  display: inline-block;
  font-size: 14px;
  margin-left: 5px;
}

.situation-summary {
  font-size: 20px;
  font-weight: 430;
  margin: 5px;
}

.situation-description {
  margin: 5px;
}


  
.stats {
  font-size: 13px;
  padding: 3px;
}

