<table class="idea-stats">
  <tr>
    <td class="idea-stats-icon">
      <img src="assets/idea/assent.png">
    </td>
    <td class="idea-stats-count accent-percentage">
      {{accentPercentage()}}%
    </td>
    <td class="idea-stats-icon">
      <img src="assets/idea/reasons.png">
    </td>
    <td class="idea-stats-count">
      {{getNumberAcronym(idea.numReasons)}}
    </td>
    <td class="idea-stats-icon">
      <img src="assets/situation/experiences.png">
    </td>
    <td class="idea-stats-count num-experiences">
      {{getNumberAcronym(idea.numExperiences)}}
    </td>
  </tr>
</table>