<div *ngIf="showDoneOptions()" class="done-reasoning-about">
  <div (click)="doneDesignating()" class="save-button">Save</div>
  <div (click)="doneDesignating()" class="cancel-button">Cancel</div>
</div>
<ion-row class="reasons-header">
  <ion-col class="assent-info">
    <img class="assent-image" src="assets/idea/assent.png">
    <div class="assent-description">
      Assent: {{getScore()}} / 5
    </div>
  </ion-col>
  <ion-col class="add-container">
    <img class="add-icon" src="assets/tools_menu/add.png" (click)="addReason()">
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class="assent-column" size="6">
    <div class="assent-info-wrapper">
    </div>
  </ion-col>
  <ion-col size="6">
  </ion-col>
</ion-row>
<ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
  <ion-item class="row{{i}}" *ngFor="let reason of idea.reasons; let i = index; trackBy: trackByReasons">
    <ion-toggle *ngIf="i < 3" [(ngModel)]="reason.enabled" slot="start"></ion-toggle>
    <div *ngIf="i >= 3" class="toggle-spacer" slot="start"></div>
    <div class="reason-contents">
      This <u>{{getVerb(reason)}} {{reason.object}}</u> {{reason.text}}
    </div>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
</ion-reorder-group>