<div class="stats">Score: {{getScore()}}</div>
<ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
  <!-- Default reorder icon, end aligned items -->
  <ion-item class="row{{i}}" *ngFor="let reason of idea.reasons; let i = index; trackBy: trackByReasons">
    <ion-toggle *ngIf="i < 3" [(ngModel)]="reason.enabled" (click)="changeEnabled(reason)" slot="start"></ion-toggle>
    <div *ngIf="i >= 3" class="toggle-spacer" slot="start"></div>
    <div class="reason-contents">
      This <u>{{getVerb(reason)}} {{reason.object}}</u> {{reason.text}}
    </div>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
</ion-reorder-group>