<div *ngIf="type === 'entry'" class="dimension-label">
  Average
</div>
<div class="dimension-label">
  Urgency
</div>
<div class="dimension-value">
  {{suggestion.urgency}}%
</div>
<figure class="icon {{type}} {{getPriorityClassName(suggestion.priority)}}">
  <!--
<div class="very-high priority {{type}} {{getUrgencyClassName(suggestion.urgency)}} {{getPriorityLevelActive(suggestion.priority, 5)}}">
  <div class="high priority {{type}} {{getUrgencyClassName(suggestion.urgency)}} {{getPriorityLevelActive(suggestion.priority, 4)}}">
    <div class="average priority {{type}} {{getUrgencyClassName(suggestion.urgency)}} {{getPriorityLevelActive(suggestion.priority, 3)}}">
      <div class="low priority {{type}} {{getUrgencyClassName(suggestion.urgency)}} {{getPriorityLevelActive(suggestion.priority, 2)}}">
        <div class="very-low priority {{type}} {{getUrgencyClassName(suggestion.urgency)}} active">
          <img class="urgency-image {{type}}" src="assets/urgency/{{getUrgencyImageName(suggestion.urgency, type === 'listing')}}.png">
        </div>
      </div>
    </div>
  </div>
</div>
-->
  <img class="urgency-image {{getPriorityClassName(suggestion.priority)}}"
    src="assets/urgency/listing/{{getUrgencyImageName(suggestion.urgency, false)}}.png">
</figure>

<div *ngIf="type === 'entry'" class="dimension-label">
  Average
</div>
<div class="dimension-label">
  Priority
</div>
<div class="dimension-value">
  {{suggestion.priority}}%
</div>